<%= form_with model: product, html: { class: "product-form" } do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>
  
  <div>
    <%= form.label :featured_image %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>
  
  <div>
    <%= form.label :inventory_count %>
    <%= form.number_field :inventory_count %>
  </div>
  
  <div>
    <%= form.submit "Save Product" %>
  </div>
<% end %>
