<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>
  <section class="product-info">
    <% cache @product do %>
      <div class="product-name">
        <h1><%= @product.name %></h1>
      </div>
      <div class="product-description">
        <p><%= @product.description %></p>
      </div>
    <% end %>

    <div class="product-inventory">
      <%= render "inventory", product: @product %>
    </div>

    <div class="action-buttons">
      <%= link_to "Back", products_path, class: "cancel-link" %>
      <% if authenticated? %>
        <%= link_to "Edit", edit_product_path(@product), class: "edit-link" %>
        <%= button_to "Destroy", @product, method: :delete, class: "destroy-button", data: { turbo_confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </section>
</section>
